<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet/less" type="text/css" href="/css/login1.less" />
    <script src="/js/login.js" defer></script>
    <title>Login</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <h1>Welcome</h1>
            
            <form class="form">
                <input type="text" id="id" placeholder="아이디">
                <input type="password" id="passwd" placeholder="패스워드">
                <button type="submit" id="login-button">로그인</button>
            </form>
        </div>
        
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
<script src="https://cdn.jsdelivr.net/npm/less@4.1.1" ></script>   
</body>
</html>

<!-- Copyright (c) 2021 by Lewi Hussey (https://codepen.io/Lewitje/pen/BNNJjo) -->

<!-- less 파일 연결 사용법 -->
<!-- Use with Node.js: -->
<!-- npm install -g less -->
<!-- > lessc styles.less styles.css -->

<!-- Or the browser: -->
<!-- <link rel="stylesheet/less" type="text/css" href="styles.less" /> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/less@4.1.1" ></script> -->